# Python cache & virtual environments
__pycache__/
*.pyc
.venv/
venv/
env/

# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Build output
frontend/build/
dist/

# System files
.DS_Store
Thumbs.db

# Environment files
*.env
